<ion-header>
  <ion-toolbar>
    <ion-title>Convertitore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-grid-padding">
      <ion-row class="ion-justify-content-center">
        <h1>Convertitore</h1>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <app-custom-input [valore]="km" (eventoConversione)="notificaConversione($event)" misura="Chilometri"></app-custom-input>
        </ion-col>
        <ion-col size="3">
          <app-custom-input [valore]="mi" (eventoConversione)="notificaConversione($event)" misura="Miglia"></app-custom-input>
        </ion-col>
        <ion-col size="3">
          <app-custom-input [valore]="c" (eventoConversione)="notificaConversione($event)" misura="Celsius"></app-custom-input>
        </ion-col>
        <ion-col size="3">
          <app-custom-input [valore]="f" (eventoConversione)="notificaConversione($event)" misura="Farheneith"></app-custom-input>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
