<ion-header>
  <ion-toolbar>
    <ion-title>Convertitore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-grid-padding set-grid" >
      <ion-row class="ion-justify-content-center">
        <h1>Convertitore</h1>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <app-custom-input [valore]="km" (eventoConversione)="notificaConversione($event)" misura="Chilometri"></app-custom-input>
        </ion-col>
        <ion-col size="3">
          <app-custom-input [valore]="mi" (eventoConversione)="notificaConversione($event)" misura="Miglia"></app-custom-input>
        </ion-col>
        <ion-col size="3">
          <app-custom-input [valore]="c" (eventoConversione)="notificaConversione($event)" misura="Celsius"></app-custom-input>
        </ion-col>
        <ion-col size="3">
          <app-custom-input [valore]="f" (eventoConversione)="notificaConversione($event)" misura="Farheneith"></app-custom-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <h1 class="ion-text-center">3n + 1</h1>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2 class="ion-text-center">Valore I</h2>
        </ion-col>
        <ion-col>
          <h2 class="ion-text-center">Valore J</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <H3 class="ion-text-center">I</H3>
          <ion-item>
            <ion-label position="floating">Inserisci valore iniziale</ion-label>
            <ion-input type="number" [(ngModel)]="i" clear-on-edit name=""> </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <h3 class="ion-text-center">J</h3>
          <ion-item>
            <ion-label position="floating">Inserisci valore finale</ion-label>
            <ion-input type="number" [(ngModel)]="j" [name]="input"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
          <ion-col>
            <h3 class="ion-text-center">La lunghezza massima tra {{z}} e {{k}} è {{max}} </h3>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-button (click)="massimo()">Calcola massimo </ion-button>
          <ion-col></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
